* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Arial", sans-serif;
}

body {
  background-color: #dfe6f4;
}

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  width: 380px;
  background: white;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
}

.card-header {
  background: linear-gradient(135deg, #4a3aff, #6c63ff);
  padding: 30px;
  text-align: center;
}

.card-header img {
  width: 150px;
}

.card-body {
  padding: 30px;
  text-align: center;
}

.card-body h2 {
  margin-bottom: 15px;
  font-size: 22px;
  font-weight: bold;
}

.description {
  font-size: 14px;
  color: #666;
  margin-bottom: 25px;
  line-height: 1.6;
}

.plan-box {
  background-color: #f3f4ff;
  padding: 15px;
  border-radius: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
}

.plan-info {
  display: flex;
  align-items: center;
  gap: 10px;
}

.music-icon {
  font-size: 22px;
}

.plan-info h4 {
  font-size: 14px;
  font-weight: bold;
}

.plan-info span {
  font-size: 13px;
  color: #777;
}

.change-btn {
  background: none;
  border: none;
  color: #4a3aff;
  font-weight: bold;
  cursor: pointer;
}

.payment-btn {
  width: 100%;
  padding: 12px;
  background: #4a3aff;
  color: white;
  border: none;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
  margin-bottom: 15px;
  box-shadow: 0 8px 15px rgba(74, 58, 255, 0.3);
  transition: 0.3s;
}

.payment-btn:hover {
  background: #3b2ed6;
}

.cancel-btn {
  background: none;
  border: none;
  color: #777;
  font-weight: bold;
  cursor: pointer;
}
