/* ----------------------------- */
       /* Tailwind css */
/* ----------------------------- */

/*
Tailwind CSS არის utility-first CSS framework,
რომელიც გამოიყენება ვებ-გვერდების დიზაინის შესაქმნელად.

-რისთვის გამოიყენება?
გამაოიყენება რეაქტის საიტის სწრაფი და მოქნილი დიზაინის შესაქმნელად.
გვეხმარება ასევე საიტის responsive ის შესაქმნელად.

-დადებითი თვისებები:
სწრაფი
მარტივი responsive დიზაინი
ნაკლები კოდი

-თვისებები და გამოყენება:
colors:
bg-red-500      -> ფონის ფერი
text-gray-800   -> ტექსტის ფერი
ზომები:
p-4             -> padding
m-2             -> margin
w-full          -> სიგანე 100%
h-screen        -> სიმაღლე ეკრანის ზომაზე
*/