/* ---------------- MARGIN ---------------- */

/* mt-4  >>> მარჯინი ზემოდან */
/* mb-4  >>> მარჯინი ქვემოდან */
/* ml-3  >>> მარჯინი მარცხნიდან */
/* mr-3  >>> მარჯინი მარჯვნიდან */


/* ---------------- PADDING ---------------- */

/* p-4   >>> padding ყველა მხრიდან */
/* pt-2  >>> padding ზემოდან */
/* pb-2  >>> padding ქვემოდან */
/* pl-3  >>> padding მარცხნიდან */
/* pr-3  >>> padding მარჯვნიდან */

/* ---------------- WIDTH & HEIGHT ---------------- */

/* w-full     >>> ელემენტის სიგანე 100% */
/* w-1/2      >>> ელემენტის სიგანე 50% */
/* h-full     >>> სიმაღლე 100% მშობლის მიხედვით */
/* h-screen   >>> სიმაღლე მთელი ეკრანის ზომით */


/* ---------------- COLORS ---------------- */

/* bg-red-500     >>> ფონის ფერი – წითელი */
/* bg-blue-600    >>> ფონის ფერი – ლურჯი */
/* text-white     >>> ტექსტის ფერი – თეთრი */


/* ---------------- TEXT ---------------- */

/* text-sm     >>> პატარა ტექსტი */
/* text-base   >>> სტანდარტული ტექსტი */
/* text-lg     >>> დიდი ტექსტი */
/* text-xl     >>> ძალიან დიდი ტექსტი */

/* text-left   >>> ტექსტი მარცხნივ */
/* text-center >>> ტექსტი ცენტრში */
/* text-right  >>> ტექსტი მარჯვნივ */


/* ---------------- BORDER ---------------- */

/* border        >>> border(1px) */
/* border-2      >>> border 2px */
/* border-red-500>>> border color */


/* ---------------- FLEXBOX ---------------- */

/* flex             >>> ელემენტი ხდება flex კონტეინერი */
/* flex-row         >>> ელემენტები რიგად */
/* flex-col         >>> ელემენტები სვეტად */

/* justify-center   >>> ჰორიზონტალური ცენტრირება */
/* justify-between  >>> სივრცის განაწილება ელემენტებს შორის */
/* justify-around   >>> სივრცე ელემენტების გარშემო */


/* ---------------- RESPONSIVE ---------------- */

/* sm:text-sm   >>> პატარა ეკრანზე პატარა ტექსტი */
/* md:text-lg   >>> საშუალო ეკრანზე დიდი ტექსტი */